.EightBall {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
}

.EightBall-button {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 1.5em;
    color: white;
}